<!doctype html>
<html>
  <head>
    <title>CP5310 NodeJS Express and Handlebars</title>
  </head>
  <body>
  <header>
    <img src="/img/handlebars.png" alt="CP5310 NodeJS and Handlebar">
  </header>
  {{{body}}}
</body>
</html>